<p>search-birre works!</p>

<p>
    cerca birra in base all'ID <br>
    <input type="text" #newquery>
    <button (click)="submit(newquery)">Search</button>
</p>

<div *ngIf="results">
    <div *ngFor="let birra of results">
        <img src="{{birra.image_url}}" alt="img">
        <!-- <span>Name: </span>  -->
        <h3><a [routerLink]="['/item', birra.id]" style="text-decoration: none;">{{birra.name}}</a></h3>
            <!-- <p><span>Description: </span>{{birra.description}}</p> -->
    </div>   
</div>