{{title}}
<!--Centriamo la mappa alle nostre coordinate-->
<google-map [center]="center">  
  <!--Mettiamo un marker alle nostre coordinate-->
  <map-marker [position]="position" [label]="label" [title]="title" [options] = "markerOptions">
  </map-marker>

  <map-polygon [paths]="vertices">
  </map-polygon>
  <map-polygon [paths]="rettangolo" [options] = "colorrect">
  </map-polygon>

  <!-- animals -->
  <map-marker [position]="coordbear" [options] = "markerOptionsbear">
  </map-marker>
  <map-marker [position]="coordelephant" [options] = "markerOptionselephant">
  </map-marker>
  <map-marker [position]="coordcow" [options] = "markerOptionscow">
  </map-marker>
  
  <!-- casa mia -->
  <map-marker [position]="coordC" [label]="nome" [title]="title">
  </map-marker>

  <map-circle [center]="position"
  [radius]="50"
  [options] = 'circleOptions'>
</map-circle>

<map-circle [center]="coordC"
[radius]="50"
[options] = 'circleOptions'>
</map-circle>
</google-map>

<h3>circle colour:</h3>
<button (click)="red()">change color to red</button>
<button (click)="yellow()">change color to yellow</button>
<button (click)="green()">change color to green</button>
<h3>rectangle colour:</h3>
<button (click)="redrect()">change color to red</button>
<button (click)="yellowrect()">change color to yellow</button>
<button (click)="greenrect()">change color to green</button>