<p>maps works!</p>


<div class="container">
    <div class="card" *ngFor="let item of Maps.data">
        <div class="image">
            <img [src]="item.splash" alt="">
        </div>
        <div class="content">
            <h2 [routerLink]="['/mapinfo', item.uuid]" style="cursor: pointer;">{{item.displayName}}</h2>
        </div>
    </div>
    <!-- <div class="card">
        <div class="image">
            <img src="assets/img/valAgents.jpeg" alt="">
        </div>
        <div class="content">
            <h2 [routerLink]="['/agents']" style="cursor: pointer;">Agents</h2>
        </div>
    </div> -->
</div>