<p>home works!</p>



<!-- <h2 [routerLink]="['/agents']" class="clickable-link">agents</h2> -->



<div class="container">
    <div class="card">
        <div class="image">
            <img src="assets/img/valAgents.jpeg" alt="">
        </div>
        <div class="content">
            <h2 [routerLink]="['/agents']" style="cursor: pointer;">Agents</h2>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="assets/img/valAgents.jpeg" alt="">
        </div>
        <div class="content">
            <h2 [routerLink]="['/agents']" style="cursor: pointer;">Agents</h2>
        </div>
    </div>
    
</div>